Flask==3.1.0
Flask_Cors==5.0.0
numpy==1.26.4
python-dotenv==1.0.1
requests==2.32.3
sentence_transformers==3.4.1

# CPU-only PyTorch build (2.0.1) 
# The '-f' line tells pip where to find the CPU wheels.
torch==2.0.1+cpu
-f https://download.pytorch.org/whl/cpu
